* {
	margin: 0;
	padding: 0.3rem;
	box-sizing: border-box;
}

.result_container {
	display: Grid;
	grid-template-columns: repeat(1, 400px);
	grid-template-rows: repeat(auto, 400px);
	min-height: 100vh;
	width: 100%;
	gap: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	justify-items: center;
	justify-content: center;
}
.result_card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 300px;
	width: 300px;
	background-color: #fff;
}
.result_ThumbnailSquare,
.result_ThumbnailArtist {
	border-radius: 5%;
	width: 60%;
	height: auto;
}
