.fas .fa-search {
	position: absolute;
	left: 12.82%;
	right: 14.31%;
	top: 12.55%;
	bottom: 14.58%;
	background: #191d21;
	transform: rotate(0.21deg);
}

#search_input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	position: static;
	width: 328px;
	height: 47px;
	left: 2.87px;
	top: 0px;
	background: #e8eef3;
	border-radius: 10px;
	transform: rotate(0.21deg);
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 20px 0px;
}
